.archive-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: rgb(9, 179, 235); 
  color: #fff; 
  padding: 10px; 
  border-bottom: 2px solid #007bff; /* Optional: add a bottom border */
}

.archive-header h1 {
  margin: 0;
  font-size: 24px; 
}

.back-button {
  background-color: #555; 
  color: #fff; 
  border: none;
  border-radius: 5px; 
  padding: 8px 16px; 
  cursor: pointer;
  transition: background-color 0.3s; 
}

.back-button:hover {
  background-color: #777; 
}

.screenshot-grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr); 
  gap: 15px; 
  margin-top: 20px; 
}

.screenshot-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #fff;
  border-radius: 8px;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
  padding: 10px;
}

.screenshot-item img {
  width: 100%;
  height: auto;
  border-radius: 5px;
}


.date {
  margin-top: 5px; 
  font-size: 0.9em; 
  color: #666; 
  text-align: center; 
}

@media (max-width: 768px) {
  .archive-header {
    flex-direction: column;
    align-items: center;
    padding: 15px;
    text-align: center; 
  }

  .archive-header h1 {
    margin-bottom: 10px; 
    font-size: 20px; 
  }

  .back-button {
    width: 100%; 
    padding: 12px; 
  }

  .screenshot-grid {
    gap: 10px; 
    margin-top: 15px; 
    padding: 5px; 
  }

  .screenshot-item {
    padding: 8px; 
  }
}
