.whiteboard {
  width: 100vw;
  height: 80vh;
  background-color: white;
  overflow: scroll;
  border: 2px solid #ccc;
  position: relative;
  cursor: grab;
}

.whiteboard:active {
  cursor: grabbing;
}

.content {
  width: 2000px; /* Arbitrarily large canvas size */
  height: 2000px;
  background-color: #f4f4f4;
  position: relative;
}
